<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to existing files directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route other requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>